.domain-option {
    margin-bottom: 5px;
    width: 100%;
}

.domain-option.invalid {
    background-color: #fafafa;
    border-color: #ddcdcc;
    color: #880000;
}

.wpe-wrap pre {
    background-color: rgba(0,0,0,.075);
    border-radius: 5px;
    padding: 8px 12px;
    margin: 0;
    margin-bottom: 32px;
    white-space: pre-line;
}